@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap');
@import "core.css";
@import "login.css";
@import "table.css";
@import "print.css";
@import "form.css";
@import "arn.css";

.home-page-header {

    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);

}

.home-page-header-description {
    font-size: 18px;
    font-weight: 400;
}

.form-search-container {

    background: #fff;
    box-shadow: 0 18px 40px rgba(25, 15, 9, .1);
    border-radius: 8px;
    display: inline-block;
    width: 100%;
    padding: 10px;

}

.btn {
    border-radius: 0 !important;
    padding: 11px 11px !important;
}

.btn-icon{
    padding: 6px 6px !important;
}

.btn-dropdown, .btn-action{
    padding:6px 6px !important;
    font-weight: 600 !important;
    letter-spacing: 0.005rem;
}

.btn-action:hover svg, .btn-action:hover svg g path {
    stroke: #fff;
}

.btn-next {
    display: inline-block;
    background-color: #E0E6F7;
    color: #3c65f5;
    padding: 11px 11px;
    min-width: 95px;
    border: 1px solid transparent;
    text-transform: capitalize;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    line-height: 1.5em;
    transition: .2s
}

.navbar-nav .nav-link {
    position: relative;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    font-weight: 500 !important;
}

a.sub-menu-active:before {
    content: "";
    height: 2px;
    width: 100%;
    background-color: #3c65f5;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.btn-next svg {
    width: 20px;
}

.btn-next g path {
    stroke: #3c65f5;
}

.btn-next:hover {
    background-color: #3C65F5;
    color: #E0E6F7;

}

.btn-next:hover g path {
    stroke: #E0E6F7;
}

.form-search:focus {

    border: 0 !important;
    box-shadow: none !important;
}

.form-search {
    height: 50px;
    border: 0 solid rgba(26, 15, 9, .1);
    border-radius: 0;
    padding: 10px 20px 10px 34px;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    outline: 0 !important;
    border: 0 !important;
}

.form-search-button {
    vertical-align: middle;
    color: #fff !important;
    background-color: #3c65f5 !important;
    padding: 10px 25px;
    border-radius: 8px;
    transition: .2s;
    font-weight: 500;
    font-size: 14px !important;
    line-height: 22px !important;
}

.form-search-button svg {
    display: inline-block;
}

.form-control, .form-select {
     padding: 11px 15px 13px 20px !important; 
    border: 1px solid #e0e6f6;
    box-shadow: none !important;
}


.form-floating>.form-control:focus,
.form-floating>.form-control:not(:placeholder-shown),
.form-floating>.form-control-plaintext:focus,
.form-floating>.form-control-plaintext:not(:placeholder-shown) {
    padding-top: 1.625rem !important;
    padding-bottom: 0.625rem !important;
}

.form-control:focus {
    border-color: #b4c0e0 !important;

}


.job-list-card {
    cursor: pointer;
    transition: box-shadow .3s;
}

.job-list-card-link {
    text-decoration: none;
    color: inherit;
}

.job-list-card-link:hover {
    text-decoration: none;
    color: inherit;
}

.job-list-card:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.job-single {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

/* TIMELINE */
.timeline {
    list-style-type: none;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-left: 0;
    padding-right: 32px;
}

.li {
    transition: all 200ms ease-in;
}

.li:first-child.complete .timestamp {
    padding-left: 0;
}

.li:first-child.complete .status {
    padding-left: 0;
}

.li:last-child .timestamp {
    padding-right: 0;

}

.li:last-child .timestamp .date {
    text-align: right;

}

.li:last-child .status {
    padding-right: 0;
}

.timestamp {
    margin-bottom: 20px;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
}

.status {
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    border-top: 2px solid #D6DCE0;
    position: relative;
    transition: all 200ms ease-in;
}

.li:first-child .status h6 {
    text-align: left;
}

.li:last-child .status h6 {
    text-align: right;
}

.status h6 {
    padding-top: 1rem;
    font-weight: 600;
    text-align: center;
}


.li:first-child.complete .status:before {
    content: '';
    width: 25px;
    height: 25px;
    background-color: 66DC71;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    top: -15px;
    left: 0%;
    transition: all 200ms ease-in;
}

.li:first-child .status {
    text-align: left;
}

.li:last-child .status:before {
    content: '';
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    top: -15px;
    left: 100%;

}

.status:before {
    content: '';
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    top: -15px;
    left: 42%;
    transition: all 200ms ease-in;
}

.li.complete .status {
    border-top: 2px solid #66DC71;
}

/* CIRCLE */
.li.complete .status:before {
    background-color: #66DC71;
    border: none;
    transition: all 200ms ease-in;
}



.li:first-child.complete .status {
    text-align: left;
}


.li.complete .status h6 {
    padding-top: 1rem;
    color: #66DC71;
}

/* @media (min-device-width: 320px) and (max-device-width: 700px) {
    .timeline {
        list-style-type: none;
        display: block;
    }

    .li {
        transition: all 200ms ease-in;
        display: flex;
        width: inherit;
    }

    .timestamp {
        width: 100px;
    }

    .status:before {
        left: -8%;
        top: 30%;
        transition: all 200ms ease-in;
    }
} */

/* COMMON CSS */

/* LOGO */

.brand img {
    height: 99px;
}

.brand-header .brand img {
    height: 9vh
}

/* END OF COMMON CSS */


/* LOGIN PAGE */



/* END OF LOGIN PAGE */

/* NEW JOB CREATION */

.new-job-container {
    height: 70vh;
    overflow-y: auto;
    scrollbar-width: none;
}

.new-job-container::-webkit-scrollbar {
    display: none;
}

/* JOB ADMIN PANEL */

#job-menu .nav-link.active {
    font-weight: 700;

}

.application-container {
    min-height: 81vh;
}

.experience-table{
    font-size: 12px;
}