.job-list-card {
    background-color: white;
    cursor: pointer;
    transition: box-shadow .3s;
}

.job-list-card-link {
    text-decoration: none;
    color: inherit;
}

.job-list-card-link:hover {
    text-decoration: none;
    color: inherit;
}

.job-list-card:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.job-single {
    font-size: 16px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.job-title {
    font-weight: 900;
    transition: .3s;
}

.job-list-card:hover .job-title {
    color: #C68616;
}

.filter-card {
    background-color: white;

}

.filter-card .form-check::before {
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.filter-card .form-check {
    margin-bottom: 0.7em;


}

.filter-checkbox>input[type="checkbox"] {
    display: none;
}

.filter-checkbox,
.filter-checkbox>label {
    cursor: pointer;
}

.form-check-input:checked+.form-check-label {
    font-weight: bold !important;
}

.badge-ultra-violet {
    background-color: #52489C;
    font-weight: 300 !important;
    min-width: 1.5rem !important;
    border-radius: 0 !important;
}

/* SINGLE JOB DETAIL */

.job-posting-title {
    color: #C68616;
    font-weight: 700;
    font-size: 3em;
}

.job-posting-subtitle {
    color: #C68616;
}

.age-tooltip {

    --bs-tooltip-color: white !important;
    --bs-tooltip-bg: #C68616 !important;
    --bs-tooltip-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}

.tooltip-container {
    border-bottom: 2px dotted #C68616;
    text-decoration: none;
    cursor: pointer;
}

.job-posting-heading{
    font-size:16px;
    font-weight: 700;
    border-left: 0.2em solid #C68616;
    padding: 0.5em 0 0.5em 0.5em;
    
}